@import "tailwindcss/base";
@import "./tailwind/base.css";

@import "tailwindcss/components";
@import "./tailwind/components.css";

@import "tailwindcss/utilities";
@import "./tailwind/utilities.css";

@import "./base/reset.css";
@import "./base/scrollbar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow-x: hidden;
  letter-spacing: 0.015em;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
  }
}
